@media (max-width: 1200px){

    .partner-box img {
        width: 12%;
        height: auto;
    }

    .card-sv__item {
        padding: 40px 30px 30px 30px;
    }

    .work-list-btn {
        width: 70%;
    }

    .banner-contact__img img {
        width: 100%;
        height: auto;
    }

    .contact__section--personal .contact__section-wrapper>.contact__section-col{
        width: 48%;
    }

    .gallery__wrapper>.gallery__item{
        width: 33.333%;
    }

    .banner--webflow{
        margin-bottom: 0;
        height: auto;
    }

    .blog__wrapper--2items-row .blog-card__item{
        width: 100%;
        margin-bottom: 25px;
    }

    .blog__wrapper--2items-row .blog-card__item .blog-card__img{
        height: 400px;
    }
}

@media (max-width: 992px){
    .nav__section--burger{
        display: flex;
    }

    .nav__section--main{
        display: none;
    }

    .list--active{
        display: flex;
    }

    .h1-title{
        font-size: 3.5rem;
        line-height: 1.2;
    }

    .h4-subtitle{
        font-size: 0.875rem;
    }

    .starBG{
        width: 100px;
        height: auto;
        top: 20px;
    }
    
    .header__paragraph {
        font-size: 0.975rem;
        line-height: 1.5rem;
        padding-bottom: 30px;
    }

    .header__btn-box{
        margin-top: 16px;
        margin-bottom: 44px;
    }

    .header__btn-box button{
        font-size: 0.75rem;
    }

    .info {
        font-size: 0.875rem;
        line-height: 1.5rem;
    }

    .partner-box{
        flex-wrap: wrap;
        justify-content: center;
    }

    .partner-box img{
        width: 33.333%;
        padding: 40px;
    }

    .sup-paragraph {
        font-size: 1rem;
        line-height: 2rem;
    }

    .features-second-flex{
        flex-wrap: wrap;

    }

    .features-second-flex>div{
        width: 100%;
    }

    .features-second-flex .features-second__item{
        margin-bottom: 25px;
    }

    .card-img__box{
        transform: scale(0.8);
    }

    .work-list-btn {
        width: 80%;
    }
    
    .work__card-item {
        height: 300px;
    }

    .card-info__subtitle {
        font-size: 0.875rem;
        line-height: 1rem;
    }

    .card-info__title {
        font-size: 2rem;
        line-height: 2rem;
        margin-top: 18px;
    }

    .work__card-item{
        padding: 30px;
    }

    .contact-card__wrapper{
        flex-wrap: wrap;
    }

    .contact-card__wrapper>.contact-card__info{
        width: 100%;
    }

    .contact-card__info .contact-card__btn{
        margin-bottom: 20px;
    }

    .contact-card--img-absolute {
        position: static;
        bottom: 0;
        right: 0;
        z-index: 0;
        width: 25%;
        height: auto;
        margin: 0 auto;
    }

    .contact-card__wrapper {
        padding: 90px 65px 0px;
    }

    .event-card {
        width: 47%;
    }

    .slick-slide {
        width: 100%;
    }

    .founder-words__item--padding70{
        padding: 40px;
    }

    .founder-words__title {
        font-size: 2rem;
        line-height: 2.5rem;
        margin: 25px 0 30px;
    }

    .founde-name {
        font-size: 1rem;
        line-height: 2rem;
    }

    .founde-position {
        font-size: 0.75rem;
        line-height: 1rem;
    }

    .questions__box>.questions__half-box{
        width: 100%;
    }

    .questions__box .questions__half-box .accordion{
        margin-top: 36px;
    }

    .questions__box .questions__half-box .accordion .accordion__item--active{
        background-color: #fff
    }

    .blog__wrapper{
        justify-content: space-around;
        margin-top: 50px;
    }

    .blog__wrapper>.blog-card__item{
        width: 49%;
        margin-bottom: 20px;
    }

    .newsletter__wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .newsletter__form{
        width: 100%;
    }

    .newsletter-form-action{
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
    }

    .newsletter-form-action input{
        margin-right: 0;
        width: 100%;
        background-color:#fff;
    }

    .newsletter-form-action button{
        margin-top: 20px;
        width: 100%;
        background-color: #fff;
    }

    .contact-our-info__wrapper{
        flex-wrap: wrap;
    }

    .contact-our-info__wrapper>.contact-our-info__item{
        flex-wrap: wrap;
        padding: 20px 35px;
        width: 100%;
        text-align: center;
    }

    .contact-our-info__header{
        justify-content: center;
    }

    .contact-our-info__item{
        border-radius: 0px;
    }
    .contact-our-info__item:first-child{
        border-radius: 6px 6px 0px 0px;
    }
    
    .contact-our-info__item:last-child{
        border-radius: 0px 0px 6px 6px ;
    }

    .banner-contact__wrapper{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .banner-contact__wrapper>.banner-contact__content{
        width: 100%;
    }

    .statistics-info__section--personal .contact-our-info__header{
        display: flex;
        flex-direction: column;
    }
    .statistics-info__section--personal .contact-our-info__header::before{
        margin: 0 0 20px 0;
    }

    .testimonials__wrapper--personal{
        justify-content: space-around;
    }

    .testimonials__wrapper--personal>.testimonials-card{
        width: 50%;
    }

    .blog__box--personal .howWork__item{
        text-align: center;
        width: 100%;
    }

    .blog__box--personal .questions__half-box:last-child{
        justify-content: center;
    }

    .blog__box--personal .blog__col--large{
        width: 100%;
    }

    .blog__box--personal .blog__col--min{
        width: 100%;
    }

    .blog__box--personal .blog-card__img{
        height: 350px;
    }

    .contact__section--personal .contact__section-wrapper{
        flex-wrap: wrap;
    }

    .contact__section--personal .contact-form{
        max-width: 100%;
        margin-bottom: 60px;
    }

    .contact__section--personal .contact__section-wrapper>.contact__section-col{
        width: 100%;
    }

    .works-section--webflow .--work-3-item > .work__card-item{
        width: calc(50% - 16px);
    }

    .portfolio-page-section .work__items-box{
        justify-content: space-around;
    }

    .portfolio-page-section .work__items-box>.work__card-item{
        width: 49%;
        margin-bottom: 10px;
    }

    .portfolio-page-section .work__items-box>.work__card-item:first-child{
        width: 100%;
        height: none;
    }

    .info-section--project {
        margin-top: 100px;
    }

    .blog__wrapper--2items-row .blog-card__item{
        width: 100%;
        margin-bottom: 25px;
    }

    .blog__wrapper--2items-row .blog-card__item .blog-card__img{
        height: auto;
    }
}

@media (max-width: 768px){

    .section {
        padding: 50px 0;
    }

    .header__section{
        height: auto;
    }

    .centerWrapper {
        position: static;
        top: 0; 
        transform: translate3d(0, 0, 0);
    }

    .header__wrapper{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .header__wrapper-item{
        width: 100%;
    }

    .partner-box img{
        width: 50%;
        padding: 0 80px;
        margin-bottom: 25px;
    }

    .about-section .staticWrapper .container .header__wrapper,
    .service-section .staticWrapper .container .header__wrapper{
        flex-direction: column-reverse !important;
    }

    .about-section .staticWrapper .container .header__wrapper .header__wrapper-item:first-child,
    .service-section .staticWrapper .container .header__wrapper .header__wrapper-item:first-child{
        margin-top: 30px;
    }
    
    .statistics__number {
        font-size: 2rem;
    }

    .statistics__paragraph {
        font-size: 1rem;
    }

    .howWork__wrapper{
        flex-wrap: wrap;
    }

    .howWork__item{
        width: 100%;
    }

    .video__content-wrapper{
        flex-wrap: wrap;
    }

    .video__item{
        width: 100%;
        margin-bottom: 25px;
    }

    .video-player{
        width: 100%;
    }

    .video-player .play-btn{
        transform: scale(0.8);
    }
    .video-section{
        padding: 0;
    }

    .features__wrapper{
        flex-wrap: wrap;
    }

    .features__item {
        width: 100%;
    }

    .h2-title{
        font-size: 2.5rem;
    }

    .wrapper-card{
        flex-wrap: wrap;
    }

    .wrapper-card>.card-sv__item{
        width: 100%;
    }

    .work-list-btn {
        width: 90%;
    }

    .work__wrapper .work__items-box .work__card-item{
        width: 100%;
    }

    .contact-card--img-absolute {
        width: 45%;
    }
    .contact-card__decor{
        transform: scale(0.7);
    }

    .event-card {
        width: 100%;
    }

    .founder-words__wrapper{
        flex-wrap: wrap;
    }
    .founder-words__wrapper>.founder-words__item{
        width: 100%;
    }

    .testimonials-card{
        width: 100%;
    }

    .testimonials-card{
        border-radius: 0px;
    }

    .testimonials-card:first-child{
        border-radius: 6px 6px 0px 0px;
        background-color: #fff;

    }

    .testimonials-card:last-child{
        border-radius: 0px 0px 6px 6px;
    }

    .testimonials-card:nth-last-child(2) {
        border-bottom-left-radius: 0px;
    }

    .testimonials-card__text{
        min-height: initial;
    }

    .testimonials-card:hover .testimonials-card__text {
        max-height: initial;
    }

    .pricing__wrapper{
        flex-wrap: wrap;
    }

    .pricing__wrapper>.pricing-card{
        width: 100%;
    }

    .pricing-card:nth-child(n+2):nth-last-child(n+2) {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .pricing-card:first-child {
        border-radius: 6px 6px 0px 0px;
    }

    .pricing-card:last-child {
        border-radius: 0px 0px 6px 6px;
    }

    .pricing-card:nth-child(2){
        background-color:#fff;
    }

    .awards__item{
        flex-wrap: wrap;
    }

    .awards__item-box{
        display: flex;
    }

    .awards__item>.awards__item-box{
        width: 100%;

        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .awards__item-box>div{
        justify-content: center;
        align-items: center;
        margin: 5px 0;
    }

    .blog__wrapper>.blog-card__item{
        width: 100%;
    }

    .contact-form{
        margin: 0 auto;
    }

    .contact-form, 
    .contact-form>input, 
    .contact-form>textarea{
        background-color: #fff;
    }
    
    .footer__info-row{
        flex-direction: column;
    }

    .footer__copyright{
        margin-bottom: 20px;
        text-align: center;
    }

    .footer__agreement>a:last-child{
        margin-right: 0;
    }

    .services-pers__wrapper .item--size50 .card-sv__item{
        width: 100%;
    }

    .statistics-info__section .contact-our-info__item>.contact-our-info__header::before {
        transform: scale(0.8);
    }

    .contact-card--personal{
        padding: 0;
    }

    .contact-card--personal .contact-card__wrapper{
        padding: 81px 30px 0px;
    }

    .testimonials-card:first-child {
        border-radius: 6px 6px 0px 0px;
        background-color: #FDF0E9;
    }

    .testimonials__wrapper--personal>.testimonials-card{
        width: 100%;
    }
    .section--minHeight60{
        height: auto;
    }

    .works-section--webflow .--work-3-item > .work__card-item{
        width: 100%;
    }

    .awards-section--webflow{
        padding: 0 0 460px 0;

    }

    .about__wrapper>.howWork__item{
        width: 100%;
    }

    .testimonials--carousel .testimonials-card{
        background-color: #fff;
    }

    .services-info__section .header__content-item{
        width: 100%;
    }

    .recent-project__wrapper .work__items-box>.work__card-item{
        width: 100%;
    }

    .accordion--bigContent .accordion__trigger{
        font-size: 2rem;
    }
}

@media (max-width: 576px){

    .section {
        padding: 30px 0;
    }

    .header__section .conatiner{
        padding: 0;
    }

    .h1-title{
        font-size: 3rem;
        line-height: 1.2;
    }

    .h4-subtitle {
        font-size: 0.75rem;
        margin-bottom: 20px;
    }

    .header__paragraph {
        font-size: 0.9rem;
        line-height: 1.2rem;
        padding-bottom: 15px;
    }

    .partner-box img {
        padding: 0 40px;
    }

    .statistics__wrapper{
        flex-wrap: wrap;
    }

    .statistics__item{
        width: 100%;
    }

    .features-second__wrapper-item{
        flex-wrap: wrap;
    }

    .features-second__wrapper-item>.card-sv__item{
        width: 100%;
    }

    .work-list-btn {
        flex-wrap: wrap;
    }

    .work-list-btn>.work-list-item{
        width: 100%;
        padding: 10px 0;
    }
    .contact-card--img-absolute {
        width: 80%;
    }

    .contact-card__decor{
        left: 10px;
    }
    .dots-carousel {
        margin-top: 30px;
    }
    .testimonials-card__pers-info .review .css-zjb5mq-MuiAvatar-root{
        width: 60px;
        height: 60px;
    }

    .testimonials-card__pers-name {
        font-size: 1rem;
    }

    .testimonials-card__pers-info .company {
        font-size: 0.85rem;
    }
    .accordion__trigger {
        font-size: 1.25rem;
        line-height: 1.5rem;
        padding: 30px 0px;
    }

    .accordion__content {
        font-size: 0.875rem;
        line-height: 1.5rem;
        margin-bottom: 30px;
    }

    .h3-title {
        font-size: 2rem;
        line-height: 2.5rem;
        margin-bottom: 25px;
    }

    .contact-our-info__header{
        transform: scale(0.8);
    }

    .contact-our-info__text {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .banner-contact__wrapper{
        padding: 20px;
    }
    .footer__wrapper{
        flex-wrap: wrap;
    }
    .footer__wrapper>.footer__col{
        width: 100%;
        margin-bottom: 20px;
        text-align: center;

    }

    .footer__list>.footer__li-item{
        padding: 5px 0px;
        display: block;
        
    }
    
    .footer__list>.footer__li-item>a{
        display: block;
    }

    .footer__social-list{
        justify-content: center;
    }

    .company-name{
        margin-bottom: 10px;
    }

    .gallery__wrapper>.gallery__item{
        width: 50%;
    }

    .empty-section {
        height: 500px;
    }

    .works-section--webflow .container {
        margin-top: -470px;
    }

    .contact-card__wrapper {
        padding: 90px 25px 0px;
    }

    .awards-section--webflow{
        padding: 0 0 460px 0;
    }

    .header-min__title{
        font-size: 3rem;
    }

    .portfolio-page-section .work__items-box>.work__card-item{
        width: 100%;
    }

    .info-client-project .info-client__col{
        width: 100%;
    }
    
    .info-client-project .info-client__col:first-child{
        margin-bottom: 44px;
    }

    .text-info-author-info > *{
        width: 100%;
    }

    .text-info-author-info  .review{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .text-info-author-info  .review .info{
        margin-left: 0;
        margin-top: 10px;
    }

    .text-info-author{
        margin-bottom: 25px;
    }

    .accordion__trigger::after{
        display: none;
    }

}